
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primari-white-color: #ffffff;
}


body {
    background-color: var(--primari-white-color);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.list {
    padding: 0px;
    margin: 0px;
}

/*Шапка сайта*/

.heder-line {
    border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;
    align-items: center;
    
}

.nav {
    display: flex;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
    }

.text-logo {
    color: black;
}



.site-nav .link-site.current {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .site + .site {
    margin-left: 50px;
}

.link-auth:hover,
.link-site:hover {
    color: var(--accent-color);
}

.link-site:focus .link-auth:focus {
    color: var(--accent-color);
}

.link-site {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 32px;


}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .site + .site {
    margin-left: 50px;
}

.mail-icon {
    margin-right: 10px; 
    fill: currentColor;
}

.tell-icon {
    margin-right: 10px;
    fill: currentColor;
}


.link-auth {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: #757575;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Герои*/
.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4) ) , 
    url(../img/Img.jpg);
    
    
}

.hero-text {
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--primari-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    
}

.button-hero {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    text-align: center;
    border: none;
    min-width: 200px;
    
}

.button-hero:hover,
.button-hero:focus {
    background-color: #188CE8;
}


/*Преимущества*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.element-icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.benefits-list > .element+.element {
margin-left: 30px;
}


.benefits-list > .element {
    width: 270px;
}

.benefits-list {
    margin-top: 0px;
    display: flex;
    padding-inline-start: 0px;
        
}



.benefits-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.benefits-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/*Примеры работ*/

.section-work {
    padding-bottom: 94px;
}

.work {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    
}

.work-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 0px;
}

.work-list > .foto + .foto {
    margin-left: 30px;
}

.image {
    display: block;
}

/*Команда*/
.team {
    background-color: #F5F4FA;
    
}


.team-album {
    display: flex;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.team-album > .team-list + .team-list {
    margin-left: 30px;
}

.team-list {
    background-color: var(--primari-white-color);
    text-align: center;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0px;
   
    
}

.portret {
    display: block;
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 10px;
}

.position {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 16px;
    
}

.team-icon-list {
    display: flex;
    padding: 0px;
    margin: 0px 32px 0px 32px;
}

.team-icon-list .team-icon + .team-icon {
    margin-left: 10px;
}

.team-icon {
    display: flex;
    width: 44px;
    height: 44px;
    
    
    background-color:#FFFFFF;
    fill: #AFB1B8;
}

.team-link {
    margin: 0px;
    padding: 12px;
    background-color: #FFFFFF;
    fill: #AFB1B8;
    border-radius: 50%;
}

.team-link:hover {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

.social-icon {
    display: flex;
    margin: 0px;
    padding: 0px;
}

/*Футер*/
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;   
}


.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;

}

.text-logo2 {
    color: #FFFFFF;
}

.addres{
margin-top: 20px;
font-style: inherit;
}

.address-text {
    color: var(--primari-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.addres-link {
    padding-left: 0px;
    margin: 0px;
}

.link-mail {
   
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.link-tell {
    padding-top: 0px;
    margin-bottom: 0px;
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 9px;

}




/*Портфолио фильтр*/

.portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}

.filter {
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
    padding-inline-start: 0px;
}

.filter button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    border: none;
    margin-bottom: 0px;
}

.filter > .filter-button + .filter-button {
    margin-left: 8px;
}

.filter .current {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.filter button:hover,
.filter button:focus {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.button-all {
    min-width: 73px;
}

.button-site {
    min-width: 128px;
}

.button-app {
    min-width: 145px;
}

.button-desighn {
    min-width: 103px;
}

.button-marketing {
    min-width: 130px;
}

/*Сайты*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-inline-start: 0px;
    
}
.cards-item img {
    display: block;
}

.cards-item {
    
    margin-bottom: 30px;
    margin-right: 30px;
    
}

.cards-item:nth-child(3n) {
    margin-right: 0px;
}

.cards-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.text-portfolio {
    padding: 20px 24px;
    
   
}

.name-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 4px;
}

.work-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

.border {
    width: 370px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}   